#converter{
    background-color:goldenrod;
    border-width: 1px;
    border-color: black;
border-style: solid;
border-width: 1px;
    height: 600px;
    width: 600px;
    text-align: center;
    padding: 20px;;
}
h1{color:black;

}
#result{
    
    color:black;
    
}
#input{
    
    height: 25px;
    background-color: rgb(255, 242, 165);
    margin: 10px;
    padding: 10px;
}

#submit{
    padding: 5px;
    border-radius: 5px;
     background-color: lightslategray;
      color: black;

}
